*{
    margin:0;
    padding:0;
}
#header{
    height:70px;
    background-color: #01303f;
    color:#F2F2F2;
    padding-top: 2%;
}
#logo1{
    position:absolute;
    top:3%;
    left:3%;
    border-radius: 50%;
}
#header h2{
    font-size: 200%;
    position:absolute;
    font-family: monospace;
    left: 7%;
    top: 4.5%;
}
#buttonDiv{
    text-align: right;
    margin-right: 3%;
}
#buttonDiv ul{
    display:flex;
    position: absolute;
    padding-top: 0.5%;
    left: 55%;
    list-style: none;
}
#buttonDiv ul li{
    width: 100px;
}
#button{
    text-align: center;
    font-size: 120%;
    width: 10%;
    height:45%;
    background-color:#01303f;
    border:none;
    border-radius: 3px;
    color: #F2F2F2;
    font-family: monospace;
}
#button:hover{
    color:#89d6fb;
}
#search{
    width: 170px;
    height:25px;
    background-color: #b1b1b1;
    border-radius: 20px;
    border:none;
    color: #182628;
    padding-left: 1%;
    margin-top:0.3%;
    font-family: monospace;
}
#lightAquaDiv{
    height:450px;
    width:100%;
    background-color: #02577a;
    color: #F2F2F2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#lightAquaDiv h2{
    padding-top: 40px;
}
#trendingPhoto1{
    border:2px solid #436c70;
    border-radius: 50%;
    position: absolute;
    bottom: 35%;
    left:10%;
}
#trendingPhoto2{
    border:2px solid #436c70;
    border-radius: 50%;
    position: absolute;
    bottom: 35%;
    left:30%;
}
#trendingPhoto3{
    border:2px solid #436c70;
    border-radius: 50%;
    position: absolute;
    bottom: 35%;
    left:50%;
}
#trendingPhoto4{
    border:2px solid #436c70;
    border-radius: 50%;
    position: absolute;
    bottom: 35%;
    left:70%;
}
#darkAquaDiv{
    height:450px;
    width:100%;
    background-color:#0384c0;
    color: #F2F2F2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom:2px solid #436c70;
}
#darkAquaDiv h2{
    padding-top: 40px;
}
#footer{
    height: 70px;
    width: 100%;
    background-color: #01303f;
    color: #F2F2F2; 
}
#footer ul{
    display: flex;
    list-style: none;
    padding-top: 1.5%;
    margin-left: 5%;
    font-family: monospace;
}
#footer ul li{
    margin-right: 13.5%;
    font-size: 120%;
}
footer ul li:hover{
    color:#65CCB8;
}
@media only screen and (min-width:768px){
}