*{
    margin:0;
    padding:0;
}
#header{
    height:70px;
    background-color: #01303f;
    color:#F2F2F2;
    padding-top: 2%;
}
#logoDiv a{
    text-decoration:none;
    color:#F2F2F2;
}
#logo1{
    position:absolute;
    top:3%;
    left:3%;
    border-radius: 50%;
}
#header h2{
    font-size: 200%;
    position:absolute;
    font-family: monospace;
    left: 7%;
    top: 4.5%;
}
#buttonDiv{
    text-align: right;
    margin-right: 3%;
}
#buttonDiv div{
    display:flex;
    position: absolute;
    padding-top: 0.5%;
    left: 55%;
    list-style: none;
}
#buttonDiv a{
    width: 100px;
    text-decoration: none;
}
#button{
    text-align: center;
    font-size: 120%;
    width: 10%;
    height:45%;
    background-color:#01303f;
    border:none;
    border-radius: 3px;
    color: #F2F2F2;
    font-family: monospace;
}
#button:hover{
    color:#89d6fb;
}
#search{
    width: 170px;
    height:25px;
    background-color: #b1b1b1;
    border-radius: 20px;
    border:none;
    color: #182628;
    padding-left: 1%;
    margin-top:0.3%;
    font-family: monospace;
}
#sidebar{
    height: 800px;
    width: 200px;
    background-color: #b3b3b3;
}
#categoryBar{
    font-size: 120%;
    color: #01303f;
    font-family: monospace;
    list-style: none;
}
#categoryBar li{
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#categoryBar li:hover{
    background-color: #9c9c9c;
}
#categoryBar li a{
    text-decoration: none;
    color: #01303f;
}
#whiteDiv{
    position: absolute;
    height: 800px;
    width: 1322px;
    left: 13%;
    top: 13.3%;
    background-color:#F2F2F2;
}
#product1{
    position: absolute;
    border: 1px solid rgb(185, 185, 185);
    width: 250px;
    left: 50px;
    top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#product2{
    position: absolute;
    border: 2px solid black;
    width: 250px;
    left: 350px;
    top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#product3{
    position: absolute;
    border: 2px solid black;
    width: 250px;
    left: 650px;
    top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#product4{
    position: absolute;
    border: 2px solid black;
    width: 250px;
    left: 950px;
    top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#product5{
    position: absolute;
    border: 2px solid black;
    width: 250px;
    left: 50px;
    top: 400px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#product6{
    position: absolute;
    border: 2px solid black;
    width: 250px;
    left: 350px;
    top: 400px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#product7{
    position: absolute;
    border: 2px solid black;
    width: 250px;
    left: 650px;
    top: 400px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#product8{
    position: absolute;
    border: 2px solid black;
    width: 250px;
    left: 950px;
    top: 400px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pageChanger{
    position: absolute;
    display: flex;
    bottom: -130px;
    left: 760px;
}
#pageChanger button{
    margin-right: 10px;
    background-color:#d4d4d4;
    height: 40px;
    width: 60px;
}
#footer{
    height: 70px;
    width: 100%;
    background-color: #01303f;
    color: #F2F2F2; 
}
#footer ul{
    display: flex;
    list-style: none;
    padding-top: 1.5%;
    margin-left: 5%;
    font-family: monospace;
}
#footer ul li{
    margin-right: 13.5%;
    font-size: 120%;
}
footer ul li:hover{
    color:#89d6fb;
}